<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  
  <appSettings>
    <add key="RegionID" value="BFAF5261-B97A-4083-8AEF-36068B0558EE"/>
    <add key="SlujbaID" value="F97F3E88-CEAE-40BE-9CA9-1349A3CF6B69"/>
    <add key="ConnectionServer" value="10.250.88.114"/>
  </appSettings>
  


</configuration>
